<!--
  Generated template for the SjpersonaldataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<app-header title="我的个人中心"></app-header>

<ion-content style="top:3.7rem;background:#FFEFF5">
    <div class="xiugaimima">修改个人资料</div>
    <ion-list class="measure_list_item" style="margin-bottom:0;background:#FFEFF5">
      <ion-item>
        <ion-label><span class="color">*</span>真实姓名</ion-label>
        <ion-input type="text" [(ngModel)]="this.cp.u.user_profile.name" value="" placeholder="请输入姓名"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><span class="color">*</span>联系方式</ion-label>
        <ion-input type="text" [(ngModel)]="this.cp.u.tel" placeholder="请输入电话"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><span class="color">*</span>微信号</ion-label>
        <ion-input type="text" [(ngModel)]="this.cp.u.user_profile.wechat" value="" placeholder="请输入微信号"></ion-input>
      </ion-item>
        <form [formGroup]="pageForm">
          <ion-item>
            <ion-label>性别</ion-label>
            <ion-select formControlName="gender" interface="popover">
              <ion-option value="1">男</ion-option>
              <ion-option value="2">女</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>地区</ion-label>
            <ion-select formControlName="province" (ionChange)="change(pageForm.controls.province.value)" interface="popover">
              <ion-option *ngFor="let item of provinces" value="{{item.region_id}}">{{item.region_name}}</ion-option>
            </ion-select>
            <ion-select formControlName="city" (ionChange)="change(pageForm.controls.city.value)" interface="popover" [hidden]="!pageForm.controls.province.value">
              <ion-option *ngFor="let item of cities" value="{{item.region_id}}">{{item.region_name}}</ion-option>
            </ion-select>
            <ion-select formControlName="district" interface="popover" [hidden]="!pageForm.controls.city.value">
              <ion-option *ngFor="let item of districts" value="{{item.region_id}}">{{item.region_name}}</ion-option>
            </ion-select>
          </ion-item>
        </form>
        <!-- <ion-item>
            <ion-label><span class="color">*</span>出生年月</ion-label>
            <ion-input type="text" [(ngModel)]="this.cp.u.user_profile.birth_year" value="" placeholder="请输入出生年月"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label><span class="color">*</span>出生年月</ion-label>
          <ion-datetime displayFormat="YYYY/MM" [(ngModel)]="this.cp.u.user_profile.birth_year" min="1900" max="2020" cancelText="取消" doneText="确定"></ion-datetime>
        </ion-item>
        <div class="style">
          <div class="subStyle">
            <ion-label style="float:left"><span class="color">*</span>擅长</ion-label>
            <button class="styleBtn" [ngStyle]="{'background': buttonClickStyle[i] == i ? '#15b72e':'#fff','color': buttonClickStyle[i] == i ? '#fff':'#333'}" *ngFor="let item of styleTabs;let i = index" (click)="selectedBtn(i,item)" >{{item}}</button>
          </div>
        </div>
        <div class="cardzheng">
          <ion-item>
            <div class="lifephoto evaluateBox">
              <p>身份证正反面上传（照片要求能看清文字信息）：</p>
              <div class="imgBox" style="width:49%;margin-right: 2%;">
                <ion-row class="stylephotos">
                  <ion-col col-12 col-sm-12 col-md-20 class="photo_container"  *ngIf="isShowImg">
                    <div class="photo" style="height:12rem;">
                      <!-- <a class="close" (click)="styledeleteImg(stylephotos)"></a> -->
                      <img [src]="cardzPhotos" [alt]="cardzPhotos" style="height:12rem;">
                    </div>
                  </ion-col>
                  <ion-col col-12 col-sm-12 col-md-20 class="photo_container" align-items-center *ngIf="photoZShow">
                    <div class="photo upload" (click)="cardzaddImg()" style="height:12rem;">
                      <ion-icon name="md-camera"></ion-icon>
                      <span>身份证正面上传</span>
                      <form action="" #form2>
                        <input type="file" name="file" id="fileid" accept="image/*" (change)="cardzuploadImg($event)">
                      </form>
                    </div>
                  </ion-col>
                </ion-row>
              </div>

              <div class="imgBox" style="width:49%;">
                <ion-row class="stylephotos">
                  <ion-col col-12 col-sm-12 col-md-20 class="photo_container" *ngIf="isFanShowImg">
                    <div class="photo" style="height:12rem;">
                      <!-- <a class="close" (click)="styledeleteImg(stylephotos)"></a> -->
                      <img [src]="cardfPhotos" [alt]="cardfPhotos" style="height:12rem;">
                    </div>
                  </ion-col>
                  <ion-col col-12 col-sm-12 col-md-20 class="photo_container" align-items-center *ngIf="photoShow">
                    <div class="photo upload" (click)="cardfaddImg()" style="height:12rem;">
                      <ion-icon name="md-camera"></ion-icon>
                      <span>身份证反面上传</span>
                      <form action="" #form3>
                        <input type="file" name="file" id="fileid" accept="image/*" (change)="cardfuploadImg($event)">
                      </form>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-item>
        </div>
        <ion-item>
          <div class="lifephoto evaluateBox">
            <p>上传一张生活照</p>
            <div class="imgBox">
              <ion-row class="stylephotos">
                <ion-col col-4 col-sm-4 col-md-20 class="photo_container">
                  <div class="photo">
                    <!-- <a class="close" (click)="styledeleteImg(stylephotos)"></a> -->
                    <img [src]="stylephotos" [alt]="stylephotos">
                  </div>
                </ion-col>
                <ion-col col-4 col-sm-4 col-md-20 class="photo_container" align-items-center>
                  <div class="photo upload" (click)="styleaddImg()">
                    <ion-icon name="md-camera"></ion-icon>
                    <span>添加照片</span>
                    <form action="" #form1>
                      <input type="file" name="file" id="fileid" accept="image/*" (change)="styleuploadImg($event)">
                    </form>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-item>
        <button (click)="editPerson()" class="workbtn">保存</button>
      </ion-list> 
</ion-content>
<!-- 工作经历弹窗 -->
<div class="hardcover" *ngIf="ishardShow">
    <div class="hardcover_middle">
      <div class="hardcover_title">
          <h5>添加工作经历</h5>
          <ion-icon name="ios-close" class="hardcover_close" (click)="closeWork()"></ion-icon>
      </div>
  
      <div class="hardcoverimgs" >
        <div class="work_boxsss">
          <div class="workstime">
            <span>从业时间</span>
            <input type="text" placeholder="XXXX年XX月——XXXX年XX月" [(ngModel)]="addstartdate">
          </div>
          <div class="workstime">
            <span>任职公司</span>
            <input type="text" placeholder="玫瑰家装" [(ngModel)]="addcompany">
          </div>
          <div class="workstimeconten">
            <h4>职务和工作内容</h4>
            <textarea placeholder="玫瑰家装" [(ngModel)]="addcontent"></textarea>
          </div>
        </div>
        <button class="addworks" (click)="addWork()">确认添加</button>
      </div>
  
    </div>
  </div>

  <!-- 修改工作经历弹窗 -->
<div class="hardcover" *ngIf="ishardShowedit">
    <div class="hardcover_middle">
      <div class="hardcover_title">
          <h5>添加工作经历</h5>
          <ion-icon name="ios-close" class="hardcover_close" (click)="closeWork()"></ion-icon>
      </div>
      <div class="hardcoverimgs">
        <div class="work_boxsss">
          <div class="workstime">
            <span>从业时间</span>
            <input type="text" placeholder="XXXX年XX月——XXXX年XX月" [(ngModel)]="addstartdate">
          </div>
          <div class="workstime">
            <span>任职公司</span>
            <input type="text" placeholder="玫瑰家装" [(ngModel)]="addcompany">
          </div>
          <div class="workstimeconten">
            <h4>职务和工作内容</h4>
            <textarea placeholder="玫瑰家装" [(ngModel)]="addcontent"></textarea>
          </div>
        </div>
        <button class="addworks" (click)="editWork()">确认添加</button>
      </div>
  
    </div>
  </div>