page-logistics {
    .logistics_box{
        width:100%;
        height:auto;
        overflow: hidden;
        background:#fff;
        padding:1rem;
        margin-bottom:1rem;
    }
    .logistickuaidi{
        width:100%;
        height:auto;
        overflow: hidden;
        background:#fff;
        padding:1rem;
        margin-bottom:1rem;
    }
    .logisticfahuo{
        width:100%;
        height:auto;
        overflow: hidden;
        background:#fff;
        padding:1rem;
        margin-bottom:1rem;
    }
}
