page-designedcomment {
    .look_comment{
        width:100%;
        height:auto;
        overflow: hidden;
        background:#fff;
        padding:3%;
    }
    .evaluateBox{
        margin-bottom:1.8rem;
        font-size:1.5rem;
        label{
          float: left;
          width:22%;
        }
        textarea{
          width:78%;
          padding:0.5rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .scoreCell{
          margin-bottom:1rem;
          .score{
            float: left;
            span{
              float: left;
              margin-right:10px;
              color:#15b72e;
              font-size:1.6rem;
              img{
                width:26px;
                float:left;
                margin-top:-4px;
              }
            }
          }
        }
        .imgBox{
          width:77%;
          padding:0.5rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          float: left;
          ul{
            float: left;
            li{
              float: left;
              margin:0 1rem 1rem 0;
              width:6rem;
              height:6rem;
              img{
                width:100%;
              }
            }
          }
          .add{
            float: left;
            margin-right:1rem;
            width:5rem;
            height:5rem;
            background:#9a9a9a;
            img{
              float: left;
              width:3rem;
              height:3rem;
              margin:1rem 0 0 1rem;
            }
          }
        }
      }
}
