page-sjchangepassword {
  .content-card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f1f1f1;
    .card-all{

      padding-top: 2rem ;
      padding-bottom: 1rem;
      overflow: hidden;
      background: #fff;
      .card-item{
        margin: 0 1rem;
        height: 4rem;
        background: #f7f7f7;
        box-shadow: 0.1rem 0.1rem 0.1rem #e2e2e2;
        border: 0.1rem solid #e3e3e3;
        overflow: hidden;
        line-height: 4rem;
        margin-bottom: 1rem;
        .item-icon{
          width: 10%;
          height: 3rem;
          margin-top: 0.5rem;
          float: left;
          //background: red;
          line-height: 100%;
          text-align: center;
          box-shadow: 0.1rem 0 0 #e2e2e2;
          .item-icon-person{
            line-height: 3rem;
            display: inline;
            margin-top: 1rem;
            font-size: 2.5rem;
          }
        }
        .item-input{
          width: 90%;
          float: right;
          height: 4rem;
          //background: red;
          .inpue-mm{
            width: 100%;
            height: 4rem;
            line-height: 4rem;
          }
          .text-input{
            width: 100%;
            height: 4rem;
            margin:0 !important;
            padding-left: 0.5rem;
          }
        }
      }
    }
    .btn{
      margin: 1rem 1rem 0;
      overflow: hidden;
      .btn-qr{
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .btn-wj{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #e90076;
        text-align: center;
        line-height: 2.8rem;
        height: 3.5rem;
        background: #fff;
        display: block;
      }
    }

  }

}
