page-sjsuerorder {
  .xiugaimima{
    font-size: 1.8rem;
    color: #333;
    padding: 1rem 1rem 1rem;
    text-align: center;
    font-weight: 550;
  }
  .time_select{
    width:100%;
    height:auto;
    overflow: hidden;
    span{
      display: block;
      float:left;
    }
    em{
      display: block;
      float:left;
    }
    .date_confirm{
      width:4rem;
      height:2.5rem;
      background:#e90075;
      color:#fff;
      border-radius:4px;
    }
  }
  .startdate{
    border:1px solid #d9d9d9;
    width:9rem;
    height:3rem;
    float:left;
  }
  .enddate{
    border:1px solid #d9d9d9;
    width:9rem;
    height:3rem;
    float:left;
  }
    *{
        margin: 0;
        padding: 0;
      }
        i, em{
          font-style: normal;
        }
        .content{
          width: 100%;
          height: 100%;
          overflow: hidden;
          background: #f1f1f1;
          color: #666;
          .content-item{
            width: 100%;
            .item-title{
              padding: 0 1rem;
              background: #fff;
              height: 3rem;
              line-height: 3rem;
              overflow: hidden;
              span{
                display: inline-block;
              }
              .title-btn{
                width: 1.5rem;
                height: 1.5rem;
                border: 1px solid #e90076;
                border-radius: 1px;
                float: left;
                margin-top: 0.7rem;
                margin-right: 0.7rem;
              }
              .title-order{
                i{
                  margin-right: 0.5rem;
                }
              }
              .title-waitfor{
                float: right;
                text-align: right;
                color: #e90075;
              }
            }
            .item-time{
              padding: 0 1rem;
              height: 3rem;
              line-height: 3rem;
              background: #e2e2e2;
              color: #666;
              .time-day{
                margin: 0 0.5rem 0 0.3rem;
              }
            }
            .item-con{
              padding-top: 0.5rem;
              padding-bottom: 1rem;
              width: 100%;
              background: #fff;
              overflow: hidden;
              .con-name, .con-tel, .con-address, .con-price, .con-area{
                margin: 0 1rem;
                height: 3rem;
                line-height: 3rem;
                span{
                  margin-right: 0.3rem;
                  color:#111;
                }
              }
            }
            .item-total{
              width: 100%;
              height: 3rem;
              line-height: 3rem;
              background: #fff;
              border-top: 1px solid #d9d9d9;
              border-bottom: 1px solid #d9d9d9;
              text-align: right;
              p{
                margin: 0 1rem;
                span{
                  margin-right: 0.1rem;
                }
              }
      
            }
            .item-btn{
              width: 100%;
              height: 6.1rem;
              line-height: 6.1rem;
              overflow: hidden;
              background: #fff;
              border-bottom: 1px solid #d9d9d9;
              .btn-all{
                margin: 0 1rem;
                position: relative;
                button{
                  position: absolute;
                  top: 1.2rem;
                  width: 7rem;
                  height: 2.5rem;
                  line-height: 2.5rem;
                  border:2px solid;
                  font-size: 1.5rem;
                }
                .all-programme{
                    right: 0;
                }
                .all-designone{
                    right:7.5rem;
                }
                .all-designtwo{
                    right:15rem;
                }
                .all-data{
                    right: 0rem;
                }
              }
            }
          }
        }
        .hardcover{
          width:100%;
          height:100%;
          position: fixed;
          background: rgba(102,102,102,0.5);
          z-index:99;
          display:flex;
          justify-content: center;
          align-items: center;
          .hardcover_middle{
              width:90%;
              height:auto;
              position: absolute;
              background:#fff;
              .hardcover_title{
                  width:100%;
                  height:3rem;
                  background:#15B72E;
                  line-height:3rem;
                  color:#fff;
                  h5{
                      font-size:1.5rem;
                      text-align: center;
                      line-height:3rem;
                  }
                  .hardcover_close{
                      position: absolute;
                      // top:18.5rem;
                      right:1rem;
                      font-size:3rem !important;
                      margin-top:-2.8rem;
                  }
              }
              .hardcover_imgs{
                  height:auto;
                  padding-bottom:0.8rem;
                  border-bottom:0.05rem solid #d9d9d9;
                  padding:1.3rem;
                  img{
                      width:5.5rem;
                      height:5.5rem;
                      float:left;
                      display: block;
                      margin-right:0.7rem;
                  }
              }
          }
          .hardcoverimgs{
              padding:1rem;
          }
          .workstime{
            height:3rem;
            line-height:3rem;
            margin-bottom:1rem;
          }
            span{
              width:20%;
              display: block;
              float:left;
              text-align: center;
              font-size:1.6rem;
            }
            input{
              width:80%;
              border:1px solid #d9d9d9;
              padding:0 1rem;
            }
          .workstimeconten{
            height:auto;
            overflow: hidden;
            border:1px solid #d9d9d9;
            h4{
              height:3.5rem;
              line-height:3.5rem;
              border-bottom:1px solid #d9d9d9;
              padding:0 1rem;
              font-size:1.5rem;
            }
            textarea{
              border:none;
              width:100%;
              padding:1rem;
              font-size:1.4rem;
              line-height:3rem;
            }
          }
          .addworks{
            width:98%;
            height:3rem;
            background:#2FC047;
            margin:3% 1%;
            border-radius:4px;
            color:#fff;
            font-size:1.5rem;
          }
        }
    
}
