<app-header title="金秋梦装饰"></app-header>

<ion-content>
  <div class="top">
    <p class="orderNum">订单编号：12346796</p>
    <p class="orderTime">订单时间：2018-02-12 13:11</p>
    <ion-list class="noMargin">
      <ion-item class="bg">
        <ion-thumbnail item-start>
          <img src="./assets/imgs/logo_primary.png">
        </ion-thumbnail>
        <h2 class="listTit">生活这里客厅咖啡小茶几</h2>
        <p><span>黑色</span></p>
        <p>
          <span class="price">￥180</span>
          <span>×<em>1</em></span>
        </p>
      </ion-item>
    </ion-list>
    <div class="evaluateDet">
      <p class="evaluateType clearfix">
        <span *ngFor="let item of evaluateType" (click)="changeImg(item.id,i)">
          <img *ngIf="evaluateId==item.id" src="{{item.pic_checked}}">
          <img *ngIf="evaluateId!==item.id" src="{{item.pic}}">
          {{item.title}}
        </span>
      </p>
      <div class="evaluateBox clearfix">
        <label>评价内容</label>
        <textarea rows="4" [(ngModel)] = "content"></textarea>
      </div>
      <div class="evaluateBox clearfix">
        <div class="scoreCell clearfix" *ngFor="let item of scoreCell">
          <label>{{item.title}}</label>
          <div class="score">
            <span *ngFor="let img of item.star" (click)="setScore(item.id,img.pid)"><img src="{{img.pic}}"></span>
            <span>{{item.score}}分</span>
          </div>
        </div>
      </div>
      <div class="evaluateBox clearfix">
        <label>添加图片</label>
        <div class="imgBox">
          <ion-row class="photos">
            <!--循环显示图片-->
            <ion-col col-3 col-sm-3 col-md-20 class="photo_container" *ngFor="let photo of photos;">
              <div class="photo">
                <a class="close" (click)="deleteImg(photo)"></a>
                <img [src]="photo" [alt]="photo">
              </div>
            </ion-col>
            <!--添加图片-->
            <ion-col col-3 col-sm-3 col-md-20 class="photo_container" align-items-center>
              <div class="photo upload" (click)="addImg()">
                <ion-icon name="md-camera"></ion-icon>
                <span>添加照片</span>
                <form action="" #form>
                  <input type="file" name="file" accept="image/*" (change)="uploadImg($event)">
                </form>
              </div>
            </ion-col>
          </ion-row>

          <!--<ul *ngIf="imgList.length>0"><li></li></ul>
          <div class="add" (click)="uploadImg()">
            <img src="./assets/imgs/add.png">
          </div>-->
        </div>
      </div>
      <div class="evaluateBox">
        <button ion-button block color="rose" (click)="evaluateClick()">提交</button>
      </div>
    </div>
  </div>
</ion-content>
