<ion-header>
  <ion-navbar>
    <ion-title>提现</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cp.goto({view:'withdrawlog'})"> 提现记录 </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgwhite">
  <form [formGroup]="pageForm" *ngIf="!show">
    <div class="input-container">
      <ion-list>
        <ion-item> 余额：{{cp.u.money}}
          <ion-note class="link" item-right (click)="all()">提现全部</ion-note>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="amount" formControlName="amount" placeholder="提现金额"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div class="btn-container">
      <p>
        <button ion-button block round [disabled]="!pageForm.valid" (click)="sub(pageForm.value)">提交</button>
      </p>
    </div>
  </form>
  <div class="suc" id="suc" *ngIf="show">
    <div>
      <ion-icon name="ios-checkmark-circle"></ion-icon>
    </div>
    <h4>提现申请提交成功</h4>
    <p><a class="link" (click)="hide()">继续提现</a></p>
  </div>
</ion-content>
