page-myaddnewaddress {
  .xiugaimima{
    font-size: 1.8rem;
    color: #444;
    padding: 1rem 1rem 0;
    text-align: center;
    font-weight:bold;
  }
  ion-content{
    top:44px;
  }
  .pageTitle{
    text-align:center;
    font-size:1.7rem;
    padding:1rem 0;
  }
  .tip{
    padding:1rem;
  }
  .subBtn{
    margin-top:2rem;
    padding:0 1rem;
    margin-bottom:6rem;
  }
}
