  <ion-scroll class="ion-alpha-scroll" [ngStyle]="calculateScrollDimensions()" scrollX="false" scrollY="true">
    <ion-item-group class="ion-alpha-list-outer">
      <div *ngFor="let items of sortedItems | mapToIterable; trackBy:trackBySortedItems">
        <ion-item-divider id="scroll-letter-{{items.key}}">{{items.key}}</ion-item-divider>
        <div *ngFor="let item of items.value">
          <ion-item (click)="currentPageClass.changeLocation(item)"> {{item.city_name}} </ion-item>
        </div>
      </div>
    </ion-item-group>
  </ion-scroll>
  <ul class="ion-alpha-sidebar" [ngStyle]="calculateDimensionsForSidebar()">
    <li *ngFor="let letter of alphabet" tappable (click)="alphaScrollGoToList(letter)"> <a>{{letter}}</a> </li>
  </ul>
